app-root{

  h2{
    color: white;
    margin-top: 30px!important;
    margin-bottom: 5px!important;
  }
  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    mat-toolbar{
      position: sticky;
      top: 0;
      z-index: 99;
      background: rgba(59, 59, 59, 0.6);
      backdrop-filter: blur(30px);
      min-height: 60px;
    }
    .content{
      flex: 1;
      background: #070707;
      padding: 20px;

      .tts-content{
        display: flex;
        justify-content: center;
        align-content: center;
      }

      .text-area{
        width: 500px;
        color: white;
      }

      .options{
        display: flex;
        flex-direction: column;
        padding: 20px;
      }
    }

  }
}
