<div class="container">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Audio</span>
  </mat-toolbar>
  <div class="content">
    <div class="audio">
      <button mat-raised-button color="primary" (click)="audio.click()">Import file</button>
      <input #audio type="file" accept="audio/*"  hidden (change)="selectAudioFile($event)">
    </div>
    <div class="text-to-audio">
      <h2>Text to speech</h2>
      <form class="example-form">
        <div class="tts-content">
          <mat-form-field class="text-area">
            <mat-label>Type the text you want to translate</mat-label>
            <textarea rows="10" matInput placeholder="Ex. My name is..." [(ngModel)]="text" [ngModelOptions]="{standalone: true}" ></textarea>
          </mat-form-field>
          <div class="options">
            <mat-form-field appearance="fill">
              <mat-label>Language</mat-label>
                <mat-select [(ngModel)]="activeLanguage" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let lang of langs" [value]="lang.code"  >
                    {{lang.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="textToSpeech()">Text to speech</button>
          </div>
        </div>
      </form>
    </div>
    <app-speech-recognition></app-speech-recognition>
  </div>
  </div>
