app-root{

  h2{
    color: white;
    margin-top: 30px!important;
    margin-bottom: 5px!important;
  }
  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: fixed;

    mat-toolbar{
      position: sticky;
      top: 0;
      z-index: 99;
      background: rgba(59, 59, 59, 0.6);
      backdrop-filter: blur(30px);
      min-height: 60px;
    }
    .content{
      flex: 1;
      padding: 20px 0 20px 20px;
      margin-right: 20px;
      overflow: auto;

      .tts-content{
        display: flex;
        justify-content: center;
        align-content: center;
      }

      .text-area{
        width: 500px;
        color: white;
      }

      .options{
        display: flex;
        flex-direction: column;
        padding: 20px;
      }
    }

  }

  .background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);

    img{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: blur(150px);
      background-color: black;
    }
  }
}
